/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR : Red
COLOR CODE: #EE163B
----------------------------------------- */
/* text-theme-color */
.text-theme-colored {
  color: #EE163B !important;
}
.widget .twitter-feed li::after {
  color: #EE163B;
}
.product .price .amount {
  color: #EE163B;
}
/* text-hover-theme-color */
.text-hover-theme-colored:hover {
  color: #EE163B !important;
}
/* background-theme-color */
.bg-theme-colored {
  background-color: #EE163B !important;
}
.bg-theme-colored-lighter2 {
  background-color: #ef2447 !important;
}
.bg-theme-colored-lighter3 {
  background-color: #f02e4f !important;
}
.bg-theme-colored-lighter4 {
  background-color: #f03757 !important;
}
.bg-theme-colored-darker2 {
  background-color: #e41135 !important;
}
.bg-theme-colored-darker3 {
  background-color: #db1033 !important;
}
.bg-theme-colored-darker4 {
  background-color: #d10f30 !important;
}
/* background-color-transparent */
.bg-theme-colored-transparent-9 {
  background-color: rgba(238, 22, 59, 0.9);
}
.bg-theme-colored-transparent-8 {
  background-color: rgba(238, 22, 59, 0.8);
}
.bg-theme-colored-transparent-7 {
  background-color: rgba(238, 22, 59, 0.7);
}
.bg-theme-colored-transparent-6 {
  background-color: rgba(238, 22, 59, 0.6);
}
.bg-theme-colored-transparent-5 {
  background-color: rgba(238, 22, 59, 0.5);
}
.bg-theme-colored-transparent-4 {
  background-color: rgba(238, 22, 59, 0.4);
}
.bg-theme-colored-transparent-3 {
  background-color: rgba(238, 22, 59, 0.3);
}
.bg-theme-colored-transparent-2 {
  background-color: rgba(238, 22, 59, 0.2);
}
.bg-theme-colored-transparent-1 {
  background-color: rgba(238, 22, 59, 0.1);
}
.bg-theme-colored-transparent {
  background-color: rgba(238, 22, 59, 0.75) !important;
}
.piechart-block {
  background-color: rgba(238, 22, 59, 0.75) !important;
}
/* bg-hover-theme-color */
.bg-hover-theme-colored:hover {
  background: #EE163B !important;
  border-color: #EE163B !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
.portfolio-filter a.active,
.portfolio-filter a:hover {
  background: #EE163B;
}
.pagination.theme-colored li.active a {
  background: #EE163B;
  color: #fff !important;
}
.pagination.theme-colored > li > a,
.pagination.theme-colored > li > span {
  color: #EE163B !important;
}
/* box-shadow */
.box-shadow,
.icon-box .icon.icon-border-effect::after {
  -webkit-box-shadow: #EE163B;
  -moz-box-shadow: #EE163B;
  box-shadow: 0 0 0 3px #EE163B;
}
.outline-border,
.clients-logo img {
  outline: 2px solid;
  outline-offset: 5px;
}
.outline-border {
  outline-color: #EE163B;
}
/* border-theme-color */
.border-theme-colored {
  border-color: #EE163B !important;
}
.border-top-theme-colored {
  border-top: 1px solid #EE163B !important;
}
.border-bottom-theme-colored {
  border-bottom: 1px solid #EE163B !important;
}
.border-effect::after {
  border: 3px solid #abc502;
}
.border-theme-colored {
  border: 1px solid #EE163B !important;
}
/* background-color-transparent */
.bg-theme-colored-transparent,
.post .entry-meta.meta-absolute,
.schedule-box .thumb .overlay,
.hvr-bounce-to-left::before,
.hvr-bounce-to-right::before {
  background-color: rgba(238, 22, 59, 0.8) !important;
}
/*
 * background: theme-color
 * -----------------------------------------------
*/
.sidebar-widget .tags a:hover,
.sidebar .tags a:hover,
.drop-caps .colored-square,
.horizontal-tab-centered .nav-pills > li > a:hover,
.nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.table.table-bordered.class-time td:hover,
.line-bottom::after,
.line-bottom-centered::after,
.line-top-right::after,
.icon-switcher {
  background: #EE163B;
}
.stylish-header,
.stylish-header:before {
  background: rgba(238, 22, 59, 0.9);
}
.header-nav-floating .menuzord.green .menuzord-menu > li.active > a,
.header-nav-floating .menuzord.green .menuzord-menu > li:hover > a,
.header-nav-floating .menuzord.green .menuzord-menu ul.dropdown li:hover > a {
  background-color: #c30e2d;
}
.service-icon-box a {
  background: rgba(238, 22, 59, 0.9);
}
.service-icon-box:hover a {
  background: rgba(238, 22, 59, 0.95);
}
.testimonial.style1 .comment {
  background: rgba(238, 22, 59, 0.85);
}
.tag-sale {
  background-color: #EE163B;
}
.star-rating span::before {
  color: #EE163B !important;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
.title,
ul.list li::before,
.post .entry-content .entry-title {
  color: #EE163B;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.clients-logo img {
  border: 1px solid #EE163B;
}
.lll {
  border: #EE163B;
}
.border-10px {
  border: 10px solid #EE163B;
}
/* border-left-color */
blockquote {
  border-left: 3px solid #EE163B;
}
/* border-top-color */
.stylish-header:after {
  -webkit-border-top: 80px solid #ef2043;
  -moz-border-top: 80px solid #ef2043;
  -ms-border-top: 80px solid #ef2043;
  -o-border-top: 80px solid #ef2043;
  border-top: 80px solid #ef2043;
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored {
  color: #EE163B;
  background-color: #fff;
  border-color: #EE163B;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.focus {
  color: #EE163B;
  background-color: #e6e6e6;
  border-color: #7b091d;
}
.btn-default.btn-theme-colored:hover {
  color: #EE163B;
  background-color: #e6e6e6;
  border-color: #b90e2b;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  color: #EE163B;
  background-color: #e6e6e6;
  border-color: #b90e2b;
}
.btn-default.btn-theme-colored:active:hover,
.btn-default.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active:focus,
.btn-default.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored:active.focus,
.btn-default.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #EE163B;
  background-color: #d4d4d4;
  border-color: #7b091d;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover,
.btn-default.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored.disabled:focus,
.btn-default.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.disabled.focus,
.btn-default.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #EE163B;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #EE163B;
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: #EE163B;
  border-color: #EE163B;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  color: #EE163B;
  background-color: #fff;
  border-color: #EE163B;
}
.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.focus {
  color: #EE163B;
  background-color: #e6e6e6;
  border-color: #7b091d;
}
.btn-border.btn-theme-colored:hover {
  color: #EE163B;
  background-color: #e6e6e6;
  border-color: #b90e2b;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  color: #EE163B;
  background-color: #e6e6e6;
  border-color: #b90e2b;
}
.btn-border.btn-theme-colored:active:hover,
.btn-border.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active:focus,
.btn-border.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored:active.focus,
.btn-border.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #EE163B;
  background-color: #d4d4d4;
  border-color: #7b091d;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover,
.btn-border.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored.disabled:focus,
.btn-border.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.disabled.focus,
.btn-border.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #EE163B;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #EE163B;
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: #c30e2d;
  border-color: #c30e2d;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #EE163B;
  border-color: #EE163B;
}
.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #c30e2d;
  border-color: #7b091d;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #c30e2d;
  border-color: #b90e2b;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #c30e2d;
  border-color: #b90e2b;
}
.btn-dark.btn-theme-colored:active:hover,
.btn-dark.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored:active:focus,
.btn-dark.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored:active.focus,
.btn-dark.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #a20c25;
  border-color: #7b091d;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover,
.btn-dark.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored.disabled:focus,
.btn-dark.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.disabled.focus,
.btn-dark.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #EE163B;
  border-color: #EE163B;
}
.btn-dark.btn-theme-colored .badge {
  color: #EE163B;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #f14663;
  border-color: #f14663;
}
.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #ee163b;
  border-color: #ab0c28;
}
.btn-gray.btn-theme-colored:hover {
  color: #fff;
  background-color: #ee163b;
  border-color: #e91136;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #ee163b;
  border-color: #e91136;
}
.btn-gray.btn-theme-colored:active:hover,
.btn-gray.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored:active:focus,
.btn-gray.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored:active.focus,
.btn-gray.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #d10f30;
  border-color: #ab0c28;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover,
.btn-gray.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored.disabled:focus,
.btn-gray.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.disabled.focus,
.btn-gray.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #f14663;
  border-color: #f14663;
}
.btn-gray.btn-theme-colored .badge {
  color: #f14663;
  background-color: #fff;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  color: #fff;
  background-color: #EE163B;
  border-color: #EE163B;
}
.btn-theme-colored:focus,
.btn-theme-colored.focus {
  color: #fff;
  background-color: #c30e2d;
  border-color: #7b091d;
}
.btn-theme-colored:hover {
  color: #fff;
  background-color: #c30e2d;
  border-color: #b90e2b;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: #c30e2d;
  border-color: #b90e2b;
}
.btn-theme-colored:active:hover,
.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-theme-colored:hover,
.btn-theme-colored:active:focus,
.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-theme-colored:focus,
.btn-theme-colored:active.focus,
.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #a20c25;
  border-color: #7b091d;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover,
.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-theme-colored:hover,
.btn-theme-colored.disabled:focus,
.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-theme-colored:focus,
.btn-theme-colored.disabled.focus,
.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-theme-colored.focus {
  background-color: #EE163B;
  border-color: #EE163B;
}
.btn-theme-colored .badge {
  color: #EE163B;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #EE163B;
  border-color: #EE163B;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #c30e2d;
  border-color: #c30e2d;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #EE163B;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #EE163B;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #f14663;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #c30e2d;
  color: #e6e6e6;
}
.btn-hover-theme-colored:hover {
  background-color: #EE163B;
  border-color: #EE163B;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored a {
  color: #EE163B;
}
.icon-theme-colored.icon-bordered a {
  border-color: #EE163B;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #EE163B;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #EE163B;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #c30e2d;
  color: #e6e6e6;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #EE163B;
  color: #EE163B;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #EE163B;
  border-color: #EE163B;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #EE163B;
}
.icon-theme-colored.icon-gray a:hover {
  color: #c30e2d;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #EE163B;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #EE163B;
}
.icon-theme-colored a:hover {
  color: #c30e2d;
}
.icon-hover-theme-colored a:hover {
  background-color: #EE163B;
  border-color: #EE163B;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored a:hover {
  background-color: #EE163B;
  border-color: #EE163B;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #EE163B;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #EE163B;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #EE163B;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #EE163B;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #EE163B;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #EE163B;
  border-color: #EE163B;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #EE163B;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #EE163B;
  color: #EE163B;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #EE163B;
  border-color: #EE163B;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #EE163B;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #EE163B;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #EE163B;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #EE163B;
  border-color: #EE163B;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #EE163B;
}
